.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

nav {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  opacity: 0.98;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
}
.logo {
  flex: 1 1 auto;
}
.user {
  flex: 1 0 auto;
}
.user {
  text-align: right;
}
.topics {
  position: fixed;
  font-size: 0.8rem;
  /* top:0; */
  padding: 1rem;
  /* left:0; */
  /* right:0; */
  /* background-color:#fff; */
  color: #ccc;
  /* box-shadow: 0 2px 5px 0 #eee; */
  overflow-y: auto;
}
.topics small {
  font-size: 0.6rem;
}
.subtopic {
  margin-left: 0.5rem;
}
.content {
  margin-top: 4rem;
  margin-left: 10rem;
  padding: 1rem;
}

.topic-title,
.topic-actions {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.topic-actions {
  text-align: right;
}
.entry-container {
  margin: 1rem 0;
}
.entry {
  border-radius: 3px;
  font-family: inherit;
  line-height: inherit;
  resize: none;
  outline: none;
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto;
  margin: 0.5rem 0;
  overflow-y: hidden;
  color: #444;
}
.date {
  color: #bbb;
}
.timestamp {
  color: #bbb;
  /* font-size:0.833rem; */
}
