*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  /* height:100%; */
  width: 100%;
}

html {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.618;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  color: #222;
  font-family: "Roboto Mono", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif,  "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";*/
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding-bottom: 0.5rem;
  /* padding:0.3rem 0; */
  font-weight: 700;
  line-height: 1.1;
}
p {
  font-size: 1rem;
}
h1 {
  font-size: 2.488rem;
}
h2 {
  font-size: 2.074rem;
}
h3 {
  font-size: 1.728rem;
}
h4 {
  font-size: 1.44rem;
}
h5 {
  font-size: 1.2rem;
  line-height: 1.2;
}
small {
  font-size: 0.833rem;
}
.lead {
  font-weight: 100;
}
hr {
  border: 0;
  margin: 0rem 0.5rem;
  border-bottom: 1px solid #e6e6e6;
  /* padding:inherit; */
  display: block;
}
a {
  color: #3c72de;
  text-decoration: none;
}
a:visited {
  color: #3c72de;
}
a:hover {
  color: #8db0f3;
}
input {
  font-family: inherit;
}
input[type="search"] {
  border: none;
  background-color: #f2f2f2;
  border-radius: 3px;
  padding: 5px;
  -webkit-appearance: none;
}
input:focus {
  outline: none;
}

button,
.button {
  border: 1px solid #ddd;
  transition: ease-in-out 100ms;
  padding: 0.7rem 0.8rem;
  font-family: inherit;
  outline: none;
  font-weight: 700;
  color: #888;
  font-size: 0.833rem;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 0.5rem;
  opacity: 1;
  background: none;
  border-radius: 4px;
  /* margin: 0 0.5rem; */
}
button:first-child,
.button:first-child {
  margin-left: 0;
}

button:focus,
.button:focus {
  background: none;
}
button:hover,
.button:hover {
  border: 1px solid #222;
  cursor: pointer;
  color: #fff;
  background: #222;
}
button:active,
.button:active {
  background: none;
  color: #222;
}

.filter {
  transition: none;
  text-transform: capitalize;
  color: #999;
  margin: 0.5rem;
  border-radius: 0;
  font-size: 0.9rem;
  padding: 0.5rem 0;
  /* padding:0.5rem 0.5rem; */
}
.filter:focus {
  color: #222;
}
.filter:hover {
  cursor: pointer;
  color: #222;
  opacity: 1;
  background: none;
}
.filter:active {
  color: #222;
}
.filter-active {
  color: #222;
  /* color:#fff; */
  /* background-color:#222; */
  /* font-weight:900; */
  border-bottom: 1px solid #111;
}

@media screen and (min-width: 668px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1025px) {
  html {
    font-size: 20px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
