*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  /* height:100%; */
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.618;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: hsl(244, 8%, 96%);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding-bottom: 0.5rem;
  /* padding:0.3rem 0; */
  font-weight: 700;
  line-height: 1.1;
}
p {
  font-size: 1rem;
}
h1 {
  font-size: 2.488rem;
}
h2 {
  font-size: 2.074rem;
}
h3 {
  font-size: 1.728rem;
}
h4 {
  font-size: 1.44rem;
}
h5 {
  font-size: 1.2rem;
  line-height: 1.2;
}
small {
  font-size: 0.833rem;
}
.lead {
  font-weight: 100;
}
hr {
  border: 0;
  margin: 5px 0;
  border-bottom: 1px solid #e6e6e6;
  display: block;
}
a {
  color: #222;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #222;
}
a:active {
  color: #888;
}
small {
  font-size: 13px;
}

input {
  font-family: inherit;
  -webkit-appearance: none;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: solid 2px transparent;
  background-color: #f4f4f4;
  padding: 15px;
}
input[type="text"]:focus,
input[type="password"]:focus {
  transition: background-color 200ms;
  background-color: #fff;
  border: 2px solid #f2f2f2;
}

.loading-content,
.fourohfour {
  width: auto;
}

.loading-content,
.fourohfour-content {
  margin-top: 80px;
  text-align: center;
}

button,
.button {
  border: none;
  height: 50px;
  font-family: inherit;
  outline: none;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #73a7f5;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: 1.2px;
  margin: 2px 0;
  padding: 0 20px;
}
button:first-child,
.button:first-child {
  margin-left: 0;
}

button:active,
.button:active {
  background-color: #5d97f0;
}

.button-secondary {
  color: #888;
  background: none;
}

.button-secondary:active {
  background: none;
  border: 1px solid #bbb;
}

.filter {
  transition: none;
  text-transform: capitalize;
  color: #999;
  margin: 0.5rem;
  border-radius: 0;
  font-size: 0.9rem;
  padding: 0.5rem 0;
  /* padding:0.5rem 0.5rem; */
}
.filter:focus {
  color: #222;
}
.filter:hover {
  cursor: pointer;
  color: #222;
  opacity: 1;
  background: none;
}
.filter:active {
  color: #222;
}
.filter-active {
  color: #222;
  /* color:#fff; */
  /* background-color:#222; */
  /* font-weight:900; */
  border-bottom: 1px solid #111;
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} */

/* remove webkit stylings */
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="email"],
textarea {
  -webkit-appearance: none;
}
