.wrapper {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

nav {
  padding: 20px 10px;
  /* border-bottom: 1px solid #eee; */
  opacity: 0.98;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.user {
  justify-items: flex-end;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: white;
  box-shadow: 0 0 4px 1px #e1e1e1;
}

.profile-actions {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #eaeaea;
  background: #f1f1f1;
}

.profile-actions button {
  color: #888;
}

.content {
  //  margin-top: 4rem;
  padding: 0;
}

.menu {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
}

.add {
  margin: 0 10px;
  padding: 6px 10px;
  height: auto;
  background: none;
  color: #888;
  font-weight: initial;
  font-size: 16px;
}
.add:active {
  color: #000;
  background: none;
}
