.wrapper {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

nav {
  padding: 10px;
  border-bottom: 1px solid #eee;
  opacity: 0.98;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.left {
}

.logo {
}

.user {
  justify-items: flex-end;
}
.avatar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid #eee;
}

.topics {
  position: fixed;
  font-size: 0.8rem;
  /* top:0; */
  padding: 1rem;
  /* left:0; */
  /* right:0; */
  /* background-color:#fff; */
  color: #ccc;
  /* box-shadow: 0 2px 5px 0 #eee; */
  overflow-y: auto;
}
.topics small {
  font-size: 0.6rem;
}
.subtopic {
  margin-left: 0.5rem;
}
.content {
  //  margin-top: 4rem;
  padding: 0;
}

.menu {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
}
.add {
  margin: 0 10px;
  padding: 6px 10px;
  height: auto;
  background: none;
  color: #888;
  font-weight: initial;
  font-size: 16px;
}
.add:active {
  color: #000;
  background: none;
}

.topic {
  outline: none;
  resize: none;
  vertical-align: top;
  height: 40px;
  -webkit-appearance: none;
  font-size: 30px;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.topic-title,
.topic-actions {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.topic-actions {
  text-align: right;
}
