.entry-container {
  padding: 5px 5px;
  position: relative;
  width: 100%;
  height: 100%;
}
.entry {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  line-height: 1.35;
  font-size: 14px;
  resize: none;
  outline: none;
  border: 1px solid hsl(243, 30%, 94%);
  background-color: #fff;
  border-radius: 0 20px 20px 20px;
  vertical-align: top;
  width: inherit;
  height: inherit;
  padding: 30px 30px;
  /* overflow: hidden; */
  /* color: hsl(244, 10%, 20%); */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-overflow-scrolling: touch;
  transition: 140ms ease-out max-height;
}
.entry:disabled {
  opacity: 1;
  -webkit-text-fill-color: #222;
}

.entry-dirty {
  padding-bottom: 70px;
}

.entry-actions-corner {
  position: absolute;
  right: 0;
  top: 0;
}

.close-entry {
  position: absolute;
  top: 0;
  width: 16px;
  background: hsl(243, 16%, 90%);
  right: 0;
  bottom: 0;
  border-radius: 0 20px 20px 0px;
  cursor: pointer;
  color: #777;
  line-height: 0;
}

.entry-actions {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 5px;
  background: #e7e7e7;
  text-align: center;
  border-radius: 0 0 20px 20px;
}

.entry-actions button {
  height: 40px;
  background: none;
  color: #888;
  border-radius: 8px;
  margin: 5px 2px;
  border: none;
}

.entry-actions button:active {
  border: none;
  background: #e7e7e7;
}

.date {
  color: #bbb;
}
.meta {
  width: 100%;
  background-color: #f7f7f7;
  color: #bbb;
  text-align: right;
  margin: 0;
  padding: 5px;
  line-height: 16px;
}
