.entry-container {
  margin: 10px 0;
}
.entry {
  font-family: inherit;
  line-height: inherit;
  resize: none;
  outline: none;
  /* border: 1.5px solid hsl(212, 30%, 94%); */
  border: 0;
  border-bottom: 1px solid hsl(212, 30%, 94%);
  vertical-align: top;
  width: 100%;
  padding: 10px 10px;
  overflow: auto;
  overflow-y: hidden;
  color: #444;
  background-color: #fff;
}
.entry:focus {
  background-color: #fff;
}
.date {
  color: #bbb;
}
.meta {
  width: 100%;
  background-color: #f7f7f7;
  color: #bbb;
  text-align: right;
  margin: 0;
  padding: 5px;
  line-height: 16px;
}
