.tile-container {
}

.tile {
  margin-left: 8px;
  padding: 5px 15px;
  padding-left: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
}

.tile:hover {
  background: #ddd;
}

.tile-selected {
  background: hsl(243, 20%, 88%);
}
